<!-- 
  Create tabs with an icon and label, using the tabs-positive style. 
  Each tab's child <ion-nav-view> directive will have its own 
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">


  <ion-tab title="Scan" icon="icon ion-ios7-barcode" href="#/tab/scan">
    <ion-nav-view name="tab-scan"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Info" icon="icon ion-information-circled" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
